{% extends "../base.html" %}

{% block content %}
<div class="container">
<div class="card">
    <div class="card-header bg-light">编辑文章: '{{ obj.title }}' 文章ID: {{ obj.id }}</div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% for field in form %}
                <div class="form-group">
                  {% if field.name == 'status' %}
                    <div class="toggle-switch" data-ts-color="success">
                        <label for="ts4" class="ts-label">{{ field.label.text }}</label>
                        {% raw field %}
                        <label for="ts4" class="ts-helper"></label>
                    </div>
                  {% else %}
                    {% raw field.label(class_="form-control-label") %}
                    {% if field.name == 'image' %}
                        {% if obj.image %}
                        <img src="{{ obj.image.thumbnail(300, 300) }}">
                        {% end %}
                    {% end %}
                    {% raw field(class_="form-control") %}
                    {% if field.errors %}
                    <small class="form-text">{{ "".join(field.errors) }}</small>
                    {% end %}
                  {% end %}
                </div>
            {% end %}
            <div class="form-group">
                <p class="form-control-plaintext">ID: {{ obj.id }}</p>
                <p class="form-control-plaintext">评论数量: {{ obj.comment_set.count() }}</p>
                <p class="form-control-plaintext">创建时间: {{ obj.created_time }}</p>
                <p class="form-control-plaintext">修改时间: {{ obj.modified_time }}</p>
            </div>
            <div class="button-group text-center">
                {% if errors %}
                    <small class="form-text">{{ errors }}</small>
                {% end %}
                <button type="submit" class="btn btn-primary">保存</button>
                <a class="btn btn-danger"
                    href="{{ reverse_url('admin:category:list') }}">
                    取消
                </a>
            </div>
        </form>
    </div>
</div>
</div>
{% end %}

