{% extends "../base.html" %}

{% block content %}
<div class="container">
<div class="card">
    <div class="card-header bg-light">编辑分类: '{{ obj.name }}' 分类ID: {{ obj.id }}</div>
    <div class="card-body">
        <form method="post">
            {% for field in form %}
                <div class="form-group">
                    {% raw field.label(class_="form-control-label") %}
                    {% raw field(class_="form-control") %}
                    {% if field.errors %}
                    <small class="form-text">{{ "".join(field.errors) }}</small>
                    {% end %}
                </div>
            {% end %}
            <div class="form-group">
                <p class="form-control-plaintext">ID: {{ obj.id }}</p>
                <p class="form-control-plaintext">文章数量: {{ obj.post_set.count() }}</p>
                <p class="form-control-plaintext">创建时间: {{ obj.created_time }}</p>
                <p class="form-control-plaintext">修改时间: {{ obj.modified_time }}</p>
            </div>
            <div class="button-group text-center">
                {% if errors %}
                    <small class="form-text">{{ errors }}</small>
                {% end %}
                <button type="submit" class="btn btn-primary">保存</button>
                <a class="btn btn-danger"
                    href="{{ reverse_url('admin:category:list') }}">
                    取消
                </a>
            </div>
        </form>
    </div>
</div>
</div>
{% end %}

